<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>{{ site.title }}{% if page.title != "" %} • {{ page.title }} {% endif %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />

        <link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}">
    </head>
    <body>
        <div class="page-wrapper" >
            <!-- <h1 class="site-title">
                 {{ site.title }}
                 </h1> -->

            <div class="main-menu ui large inverted stackable menu">
                <nav class="main-menu-inner ui container stackable huge inverted secondary pointing menu">
                    
                <a href="/" class="ui item {% if page.url == "/" %}active{% endif %}">
                    {{ site.title }}
                </a>
                <a class="ui right item"></a>
                {% for menu_page in site.pages %}
                    {% if menu_page.menu_item %}
                <a href="{{ menu_page.permalink | relative_url }}" class="ui item {% if menu_page.permalink == page.url or page.categories[0] == menu_page.menu_item %}active{% endif %}">{{ menu_page.menu_item }}</a>
                    {% endif %}
                {% endfor %}
                </nav>
            </div>

            <div class="content-wrapper">
                <div class="ui container">
                    {{ content}}
                </div>
            </div>

            <footer>
                <a class="footer-email" href="mailto:{{ site.email }}">
                    {{site.email}}
                </a>
                <div class="social-media-icons">
                    {% for item in site.data.social_media %}
                    <a href="{{ item.url }}">
                        <img alt="{{ item.name}}" title="{{ item.name }}" src="{{ item.image_path | relative_url }}"/>
                    </a>
                    {% endfor %}
                </div>
            </footer>
        </div>
    </body>
</html>
