<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>{{ site.title }}{% if page.title != "" %} • {{ page.title }} {% endif %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />

        <link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}">
    </head>
    <body>
        <div class="page-wrapper" >
            <!-- <h1 class="site-title">
                 {{ site.title }}
                 </h1> -->

            <div class="main-menu ui large inverted stackable menu">
                <nav class="main-menu-inner ui container stackable huge inverted secondary pointing menu">
                <a href="/" class="ui item {% if page.url == "/" %}active{% endif %}">
                    {{ site.title }}
                </a>
                <a class="ui right item"></a>
                {% assign page_url_segments = page.url | split: "/" %}
                {% for menu_page in site.menu_dropdown %}
                    <div  class="ui simple dropdown item {% if menu_page.url == page.url or page.url contains menu_page.url %}active{% endif %}">
                        <a href="{{ menu_page.url | relative_url }}">
                            {{ menu_page.name }}
                        </a>
                        <div class="menu dropdown-menu">
                            <!-- <div class="item">Choice 1</div>
                                 <div class="item">Choice 2</div>
                                 <div class="item">Choice 3</div> -->
                            {% for dropdown_page in menu_page.items %}
                                <a href="{{ dropdown_page.url }}" class="item {% if dropdown_page.url == page.url or page.url contains dropdown_page.url %}active{% endif %}">
                                    {{ dropdown_page.name }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                </nav>
            </div>

            <div class="content-wrapper">
                <div class="ui container">
                    <h1 class="ui huge inverted header">{{ page.title }}</h1>

                    {{ content}}
                </div>
            </div>

            <footer>
                <a class="footer-email" href="mailto:{{ site.email }}">
                    {{site.email}}
                </a>
                <div class="social-media-icons">
                    {% for item in site.data.social_media %}
                    <a href="{{ item.url }}">
                        <img alt="{{ item.name}}" title="{{ item.name }}" src="{{ item.image_path | relative_url }}"/>
                    </a>
                    {% endfor %}
                </div>
            </footer>
        </div>
    </body>
</html>
